@tailwind base;
@tailwind components;
@tailwind utilities;

.containers{
    width: 1140px;
    margin: 0 auto;
}

.line{
    height: 11px;
    width: 900px;
    color: black;
}
.header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 99;
}